@import "../../styles/_utils/variables.scss";

.tag-list {
  display: flex;
  flex-wrap: wrap;

  &__tag {
    margin: 5px 10px 5px 0;
    padding: 3px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: $colorWhite;
    background-color: $colorPrimary;
    border-radius: 5px;
  }
}
