@import "../../styles/_utils/variables.scss";
@import "../../styles/_utils/mixins.scss";

.property-card {
  position: relative;
  margin: 15px;
  @include breakpoint(md) {
    margin: 30px;
  }

  h2 {
    position: absolute;
    bottom: 15px;
    padding: 0 0 0 15px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: $colorWhite;
  }

  img {
    object-position: center;
    width: 100%;
    height: 250px;
    border-radius: $radius-10;
    @include breakpoint(md) {
      width: 340px;
      height: 340px;
    }
  }
}
