@import "../../styles/_utils/mixins.scss";

.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__name {
    text-align: end;
    font-size: 1.2rem;
    font-weight: 500;
    @include breakpoint(xl) {
      font-size: 1.8rem;
      line-height: 26px;
    }

    p {
      margin: 0;
    }
  }

  &__picture {
    margin: 0 0 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    @include breakpoint(md) {
      width: 50px;
      height: 50px;
    }
    @include breakpoint(xl) {
      width: 65px;
      height: 65px;
    }
  }
}
