@import "../../styles/_utils/variables.scss";
@import "../../styles/_utils/mixins.scss";

.carousel {
  position: relative;

  &::after {
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 255px;
    border-radius: $radius-10;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(112, 112, 112, 0) 10%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.01) 51%,
      rgba(113, 113, 113, 0) 90%,
      rgba(0, 0, 0, 0.2) 100%
    );
    @include breakpoint(xl) {
      height: 415px;
      border-radius: $radius-25;
    }
  }

  &__btn-nav {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -10px);
    border: 0;
    background: transparent;
    cursor: pointer;
    @include breakpoint(xl) {
      transform: translate(0, -20px);
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url(../../assets/arrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px;
      width: 20px;
      height: 20px;
      @include breakpoint(xl) {
        background-size: 40px;
        width: 40px;
        height: 40px;
      }
    }

    &--prev {
      left: 0;

      &::after {
        transform: rotate(90deg);
      }
    }

    &--next {
      right: 20px;
      @include breakpoint(xl) {
        right: 40px;
      }

      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  &__counter {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    @include breakpoint(lg) {
      font-size: 1.4rem;
    }
  }

  &__picture {
    height: 255px;
    border-radius: $radius-10;
    @include breakpoint(xl) {
      height: 415px;
      border-radius: $radius-25;
    }
  }
}
