@import "../../styles/_utils/variables.scss";
@import "../../styles/_utils/mixins.scss";

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  img {
    position: relative;
    border-radius: $radius-10;
    min-height: 110px;
    max-height: 225px;
    filter: brightness(0.8);
    @include breakpoint(md) {
      border-radius: $radius-25;
    }
  }

  h1 {
    position: absolute;
    padding: 15px;
    line-height: 100%;
    font-size: 2.4rem;
    font-weight: 500;
    color: white;
    @include breakpoint(md) {
      font-size: 3.6rem;
    }
    @include breakpoint(xl) {
      font-size: 4.8rem;
    }
  }
}
